<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.kit.testapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme.BaseAppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".rxJavaAndRetrofitTest.NetRequestDemoActivity"
            android:theme="@style/BaseTheme.TranslucentStatusTheme" />
        <activity android:name=".pagerTest.PagerTestActivity" />
        <activity android:name=".animation.PropertyAnimationEntryActivity" />
        <activity android:name=".animation.BallsFallDownSimultaneously" />
        <activity android:name=".animation.CountDownActivity" />
        <activity
            android:name=".multiGroupHistogram.MultiGroupHistogramActivity"
            android:configChanges="orientation|keyboard"
            android:theme="@style/rankTheme" />
        <activity android:name=".activity.SettingActivity" />

        <activity android:name=".animation.PropertyAnimationBasics_1" />
        <activity android:name=".indicator.CustomIndicatorActivity" />
        <activity android:name=".recordingAnimation.RecordingAnimationActivity" />
    </application>

</manifest>