<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev.kit.testapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission android:name="com.dev.kit.testapp.PROVIDER" />
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme.BaseAppTheme"
        tools:replace="android:theme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.TouchEventTestActivity" />
        <activity
            android:name=".rxJavaAndRetrofitTest.NetRequestDemoActivity"
            android:taskAffinity=".cuiyan"
            android:theme="@style/BaseTheme.TranslucentStatusTheme" />
        <activity
            android:launchMode="singleInstance"
            android:name=".pagerTest.PagerTestActivity" />
        <activity android:name=".animation.PropertyAnimationEntryActivity" />
        <activity android:name=".animation.BallsFallDownSimultaneously" />
        <activity android:name=".animation.CountDownActivity" />
        <activity
            android:name=".multiGroupHistogram.MultiGroupHistogramActivity"
            android:configChanges="orientation|keyboard"
            android:theme="@style/rankTheme" />
        <activity android:name=".activity.SettingActivity" />

        <activity android:name=".animation.PropertyAnimationBasics_1" />
        <activity android:name=".indicator.CustomIndicatorActivity" />
        <activity android:name=".recordingAnimation.RecordingAnimationActivity" />
        <activity android:name=".mediaSelectorTest.MediaSelectorTestActivity" />
        <activity android:name="com.dev.kit.basemodule.activity.VideoRecordActivity" />
        <activity
            android:name=".videoRecord.RecordVideoActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".dbAndProvider.providerTest.TestProvider"
            android:authorities="com.dev.kit.testapp.TestProvider"
            android:exported="true"
            android:permission="com.dev.kit.testapp.PROVIDER" />

        <service android:name=".serviceTest.TestIntentService" />
        <service android:name=".serviceTest.TestService" />
        <service
            android:name=".ipcTest.service.AuthLoginService"
            android:exported="true"
            android:process=":com.dev.kit.testapp.authlogin">
            <intent-filter>
                <action android:name="com.dev.kit.testapp.ipcTest.service.AuthLoginService"/>
            </intent-filter>
        </service>

    </application>

</manifest>